@use "../../styles/variables" as v;

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-weight: 700;
  border-radius: 16px;
  color: v.$color-white;

  &--small {
    font-size: 12px;
    line-height: 16px;
    padding: 2px 8px;
  }

  &--medium {
    font-size: 18px;
    line-height: 24px;
    padding: 4px 12px;
  }

  &--red {
    background-color: v.$color-fire-engine-red;
  }

  &--grey {
    background-color: v.$color-boulder;
  }

  &--green {
    background-color: v.$color-medium-spring-green;
  }

  &--gold {
    background-color: v.$color-brown-yellow;
  }
}
