@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.moviesByGenre {
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  gap: 64px;

  @include m.vp-767 {
    gap: 40px;
    padding: 16px 0 40px;
  }

  &__header {
    color: v.$color-white;
    display: flex;
    gap: 16px;
    align-items: center;

    @include m.vp-767 {
      gap: 8px;
    }
  }

  &__iconBack {
    width: 40px;
    height: 40px;
    transition: transform color v.$transition-300;

    &:hover {
      color: v.$color-lilac;
      transform: scale(1.2);
    }

    @include m.vp-767 {
      width: 32px;
      height: 32px;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;

    @include m.vp-767 {
      font-size: 24px;
      line-height: 32px;
    }
  }
}
