// Colors
$color-white: #ffffff;
$color-snow: #fffbfb;
$color-periwinkle: #cdcfde;
$color-solitude: #e2e4e8;
$color-solitude-2: #edeeef;
$color-solitude-3: #f4f6fa;
$color-quartz: #dbdbdd;
$color-link-water: #c7ced3;
$color-ghost-white: #f4f6ff;
$color-manatee: #8f939f;
$color-storm-grey: #696e82;
$color-black: #000000;
$color-black-russian: #1e222e;
$color-black-russian-2: #1c1c1e;
$color-summer-sky: #259dd6;
$color-pelorous: #1883b6;
$color-royal-blue-1: #476bf0;
$color-royal-blue-2: #2f54df;
$color-free-speech-blue: #3356d7;
$color-your-pink: #f9c4c2;
$color-deep-lilac: #9548bd;
$color-dark-purple: #9d1881;
$color-sunset-orange: #f6514b;
$color-persian-red: #d72522;

$color-black-50: rgba(0, 0, 0, 0.5);
$color-white-5: rgba(255, 255, 255, 0.05);
$color-white-15: rgba(255, 255, 255, 0.15);
$color-white-40: rgba(255, 255, 255, 0.4);
$color-white-50: rgba(255, 255, 255, 0.5);
$color-white-80: rgba(255, 255, 255, 0.8);

// Typography
$ff-main: "Play", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;
