@use "../../styles/variables" as v;

.navMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;

  &__logo {
    width: 80px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color v.$transition-300;

    &:hover {
      color: v.$color-lilac;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
  }

  &__pageLink {
    font-size: 24px;
    line-height: 32px;
    padding: 8px 0 7px;
    transition: color v.$transition-300;
    border-bottom: 1.5px solid transparent;

    &:hover {
      color: v.$color-lilac;
    }

    &--active {
      border-bottom: 1.5px solid v.$color-heliotrope-purple;
    }
  }

  &__btn {
    background-color: transparent;
    border: none;
    color: v.$color-white;
    font-size: 24px;
    line-height: 32px;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
}

.searchContainer {
  position: relative;
  width: 100%;

  &__header {
    position: relative;
  }

  &__back {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1000;
    border: none;
    background-color: transparent;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: v.$color-white;
  }
}

.searchResults {
  position: absolute;
  width: 560px;
  top: 100%;
  right: 0;
  margin-top: 12px;
  z-index: 1001;
  padding: 8px;
  border-radius: 8px;
  background-color: v.$color-iridium;
}

.searchOverlay {
  position: fixed;
  top: 96px;
  left: 0;
  right: 0;
  bottom: 0;
  background: v.$color-black-50;
  z-index: 1000;
}
