@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.modal {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: v.$color-black-50;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  &__content {
    background: v.$color-white;
    padding: 64px 40px;
    border-radius: 24px;
    position: relative;
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include m.vp-767 {
      width: 100%;
      padding: 64px 20px 32px;
      margin: 0 20px;
    }
  }

  &__logo {
    color: v.$color-black;
    margin: 0 auto;
  }

  &__closeButton {
    position: absolute;
    top: 0;
    right: -24px;
    transform: translateX(100%);
    padding: 12px;
    background: v.$color-white;
    border: none;
    cursor: pointer;
    color: v.$color-black;
    border-radius: 50%;

    &:hover {
      background: v.$color-black;
      color: v.$color-white;
    }

    @include m.vp-767 {
      top: 8px;
      right: 8px;
      transform: translateX(0);
    }
  }
}
