.modal {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  &__content {
    background: white;
    padding: 64px 40px;
    border-radius: 24px;
    position: relative;
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__logo {
    color: #000000;
    margin: 0 auto;
  }

  &__closeButton {
    position: absolute;
    top: 0;
    right: -24px;
    transform: translateX(100%);
    padding: 12px;
    background: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #666;
    border-radius: 50%;

    &:hover {
      color: #000;
    }
  }
}
